@import 'tailwindcss';
:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F9F9F9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  /* Colors */
  /* max-width: 760px; */
  
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background-color: #F9F9F9;
  --gray-background: #f9f9f9;
  --gray-60: #77777d;
  --black: #1d1d26;
  --gray-8: #ededee;
  --color-white: white;
  --gray-4: #f6f6f6;
  --gray-90: #33333b;
  --gray-10: #e3e3e4;
  --gray-50: #8e8e92;
  --dark-opacity-25: rgba(29, 29, 38, .25);
  --dark-opacity-5: rgba(29, 29, 38, .05);
  --red-border:#bb576c
}

.top-empty-div{
  background-color: var(--gray-background);
}

body{
  color: var(--gray-60)
}

.border-red{
  border-color: var(--red-border);
}

.color-body{
  color: var(--gray-60);
}

.font-body{
  font-family: Inter, sans-serif;
  font-weight: 500;
}
.color-highlight{
  color: var(--gray-4);
}

.bg-gray{
  background-color: var(--gray-8);
}

.bg-background{
  background-color: var(--gray-background);
}

.border-gray{
  border-color: var(--gray-8);
}

.button-gray{
  background-color: var(--gray-8); 
}

.button-gray:hover{
  background-color: var(--gray-10); 
}

.text-color-grey-90 {
  color: var(--grey-90);
}

.section-button{
  transition: background-color .2s ease-in-out;
}